html{
    margin: 0;
    height: 100%;
}

/* body {
    background: rgb(186,153,210);
    background: linear-gradient(180deg, rgba(186,153,210,1) 0%, rgba(148,187,233,1) 85%);
} */

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.container {
    display: block;
    width: auto;
}

.header {
  top:0px;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 2rem;
  background: black;
  color: white;
  width: 100%;
  display:flex;
  align-items: center;
  position: sticky;
}
#user-profile {
    width:100%;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
  }

.icn {
    margin-top:2vh;
    font-size: 2rem;
    display:flex;
    align-items:center;
} 
.box img {
width: 400px;
height: 133px;
}

.lyre_label{
    margin-top:20vh;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    text-align: center;
}
.log_in_label{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 0.5rem;
    text-align: center;
}

.coming{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom:0.5rem;
    text-align: center;
}

#demo{
    margin-top: 15vh;
    display: none;
    justify-content: center;
    align-items: center;
}
#demoButton{
   display:block; 
}
#homeButton{
    display: none;
    margin-right:2em;
}
.homeIcon{
    size: 2em;
}
.homeIcon:hover {
    color: #DDA0DD;
}
.hey_label{
    display: flex;
    font-size: 3rem;
    justify-content: left;
    text-align: left;
    margin-left: 2rem;
    margin-top: 3rem;
}

.choose_label {
    display: flex;
    font-size: 0.75rem;
    justify-content: left;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    text-align: left;
}
form {
    display: flex;  
    justify-content: center;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
    font-size: 1em;
    font-weight: 500;
    color: black;
    background-color: transparent;
    border:  2px solid;
    border-color:black;
    border-radius: 25px;
    padding: 0.5em;
    display: inline-block;
}

.logbutton {
    font-size: 1rem;
    position:fixed;
    right: 0;
    padding: 0.2rem;
    margin-right: 1rem;
}
.logo{
    margin-right:0.5rem;
    color:pink;
}
a {
 text-decoration: none;
}
a:hover {
    color: #DDA0DD;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: black;
    color: white;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#login, #loggedin {
    display: none;
}

#home{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    animation-name: example;
    animation-duration: 6s;
    
}
.logSpotify {
    min-height: fit-content;
}
.logSpotify:hover {
    background-color: black;
}

.served_song{
    margin:5rem;
    width:10rem;
    height:10.2rem;
}
.first_text_block {
    margin-top: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    font-size:1.3rem;
    align-content: space-between;
    align-items: center;
}

.second_text_block {
    width: 100%;
    background-color: rgba(255, 255, 255, 1.0);
    color: black;
    padding: 2rem;
    padding-top: 4rem;
    padding-bottom:4rem;
    display: flex;
    flex-direction: row;
    font-size:1.3rem;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
.labelpic{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.flow{
   width:10rem;
   margin: 2rem;
   margin-left:3rem;
   margin-right:3rem;
   height:9.8rem; 
}
 #loggedin {
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: center;
    height: 40rem;
    font-family: 'Roboto', sans-serif;
    animation-name: example;
    animation-duration: 6s;
    
}
.output {
    margin-top: 5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.register {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.6rem;
    position:fixed;
    bottom: 0px;
    display:flex;
    width: 100%;
    justify-content: center;
}
.loaderBox{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.player{
    border:  2px solid;
    border-color:black;
    border-radius: 25px;
}
.iframe {
    display:flex;
    justify-content: center;
    margin-top: 4rem;
}
@keyframes example {
  from {color: transparent;}
  to {color:black;}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  